/* Estilos para acercade.html */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4CAF50;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.profile {
    text-align: center;
    margin-top: 20px;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.profile h2 {
    margin-top: 10px;
    color: #333;
}

.profile p {
    color: #777;
}