/* Header */
header {
    background: #222; /* Color más oscuro */
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ffcc00 5px solid; /* Borde más grueso y color más llamativo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para resaltar */
}
