body {
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Fuente moderna */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #2c3e50; /* Color oscuro para un aspecto elegante */
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2.5em; /* Tamaño del título */
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f39c12; /* Color de hover atractivo */
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 20px;
    text-align: center; /* Centrar el texto */
}

h2 {
    font-size: 2em; /* Tamaño del subtítulo */
    color: #2c3e50; /* Color del subtítulo */
    margin-bottom: 10px; /* Espacio debajo del subtítulo */
}

p {
    font-size: 1.2em; /* Tamaño de fuente del párrafo */
    color: #555; /* Color del texto */
    margin-bottom: 20px; /* Espacio debajo del párrafo */
    line-height: 1.5; /* Espaciado entre líneas */
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados para la imagen */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para la imagen */
}

footer {
    background: #2c3e50;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #ffffff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}





